.listPage {
  display: flex;
  height: 100%;
  &__list-container {
    flex: 3;
    .list-container__wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
      @include lg {
        padding-right: 0;
      }
    }
  }
  &__map-container {
    flex: 2;
    background-color: clr(bg, secondary);
    @include lg {
      display: none;
    }
  }
}
