$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

$breakpoints: (
  'xs': 492px,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1366px,
);

$navheight: (
  'sm': 72px,
  'md': 80px,
  'lg': 96px,
);

$colors: (
  bg: (
    base: #fff,
    secondary: #fcf5f3,
    black: #000,
  ),
  accent: (
    base: #fece51,
    secondary: #ffd2602c,
  ),
  gray: (
    base: #f5f5f5,
    secondary: #888,
    thirdary: #444,
  ),
  border: (
    base: #e0e0e0,
    dark: #999,
  ),
  red: (
    base: #ff0000,
    light: #ff0000b8,
  ),
  mint:(
    base: #007767,
    dark: #005146
  )
);
