.pupdate-page {
  height: 100%;
  display: flex;
  .form-container {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    .form {
      display: flex;
      flex-direction: column;
      min-width: 250px;
      gap: 20px;
      &-item {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 7px;
        gap: 5px;
        &:focus-within,
        &:hover {
          .form-item__label {
            color: clr(border, dark);
          }
        }
        &__label {
          position: absolute;
          top: -10px;
          left: 12px;
          background: clr(bg);
          font-size: small;
          color: clr(border);
        }
        &__input {
          max-width: 280px;
          padding: 8px 16px;
          border: 1px solid clr(border);

          border-radius: 5px;
          &:hover,
          &:active {
            border-color: clr(border, dark);
          }
          @include xs {
            min-width: 100%;
            width: 100%;
          }
        }
      }
      &-button {
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        background: clr(mint);
        color: white;
        font-weight: 100;
        letter-spacing: 1px;
        transition: background 0.3s ease;
        cursor: pointer;
        &:hover {
          background: clr(mint, dark);
        }
      }
    }
  }
  .side {
    flex: 2;
    background: clr(bg, secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__img {
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
}
