.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  &__filter__title {
    font-weight: 300;
    font-size: 24px;
  }
  &__top {
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    @include xs {
      grid-template-columns: 1fr;
    }
  }


  &__item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    min-width: 100px;
    justify-content: space-between;
    @include xs {
      width: 100%;
    }
    label {
      font-size: 10px;
    }
    input,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid clr(border);
      border-radius: 5px;
      font-size: 14px;
      @include xs {
        width: 100%;
      }
    }
    &.item--top {
      input {
        width: 100%;
      }
    }
    &.item--bottom {
    }
  }
  &__button {
    height: max-content;
    padding: 10px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    background-color: clr(accent);
    img {
      width: 24px;
      height: 24px;
    }
  }
}
