.popup-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-width: 200px;

  &__image {
    width: 64px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  .text-container {
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
