$form-height: 64px;

.searchBar {
  padding-right: 10px;
  @include md {
    padding: 0;
  }
  &__type {
    @include sm {
      margin-bottom: 5px;
    }
    &-button {
      padding: 16px 36px;
      border: 1px solid clr(border);
      border-bottom: 0;
      cursor: pointer;
      background-color: c;
      text-transform: capitalize;
      transition: all 0.3s ease;
      &.active {
        border-color: clr(bg, black);
        background-color: clr(bg, black);
        color: clr(bg);
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
        @include sm {
          border-bottom: 1px solid clr(border);
        }
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
        @include sm {
          border-bottom: 1px solid clr(border);
        }
      }
    }
  }
  &__form {
    border: 1px solid clr(border);
    display: flex;
    justify-content: space-between;
    height: $form-height;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }
    &-input {
      border: none;
      padding: 0px 10px;
      width: 200px;
      @include lg {
        padding: 0px 5px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include md {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
      }
      @include sm {
        padding: 20px;
        border: 1px solid clr(border);
      }
    }
    &-button {
      border: none;
      cursor: pointer;
      background-color: clr(accent);
      padding: 0;
      flex: 1;
      width: 100%;
      min-width: $form-height;
      @include sm {
        padding: 14px;
        margin-bottom: 10px;
      }
      .form-button__img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
      }
    }
  }
}
