.chat {
  display: flex;
  flex-direction: row;
  height: 100%;
  &.container {
    padding-right: 0;
    @include sm {
      padding: 0;
    }
  }
  .list {
    flex: 2;
    overflow-y: scroll;
    height: 100%;
    border-right: 1px solid clr(gray);
    @include sm {
      border: none;
    }
    &-header {
      padding: 5px 10px;
      border-bottom: 1px solid clr(gray);
      position: sticky;
      top: 0;
      background-color: clr(bg);
      &__input {
        border: 1px solid clr(gray);
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      &__text {
        color: clr(gray, secondary);
        text-align: center;
        justify-content: center;
        height: 85%;
        display: flex;
        align-items: center;
      }
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid clr(gray, base);
        &__notification {
          position: absolute;
          right: 5px;
          width: 10px;
          height: 10px;
          top: 8px;
          background-color: clr(accent);
          border-radius: 50%;
        }
        &__img {
          @include avatar(40px);
        }
        &__wrapper {
          flex: 1;
          &__text {
            color: clr(gray, secondary);
          }
        }
        &__date {
          font-size: 12px;
          align-items: flex-start;
          color: clr(gray, secondary);
        }
      }
    }
  }
  .messages {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__text {
      color: clr(gray, secondary);
      text-align: center;
      justify-content: center;
      height: 100%;
      display: flex;
      align-items: center;
    }
    @include sm {
      background-color: clr(bg);
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      transition: all 0.4s ease;
      right: -100%;
      z-index: 999;
      &-open {
        width: 100%;
        right: 0;
      }
    }
    .messages-container {
      padding: 0px 0px 0px 10px;

      @include md {
        padding: 0px;
      }
      &.messages-header {
        padding: 3px 10px;
      }
    }
    &-header {
      border-bottom: 1px solid clr(gray);
      display: flex;
      align-items: center;
      gap: 10px;
      @include sm {
        flex-direction: row-reverse;
        justify-content: space-around;
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
      }
      &__img {
        height: 40px;
        width: auto;
        &.arrow {
          display: none;
          filter: invert(100%);
          cursor: pointer;
          padding: 0 10px;
          @include sm {
            display: initial;
          }
        }
        &.avatar {
          @include avatar(40px);
        }
      }
      &__time {
        color: clr(gray, secondary);
        font-size: 12px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      overflow: scroll;

      .message {
        width: 50%;
        border-left: 1px solid clr(accent);
        padding-left: 4px;
        @include lg {
          width: 75%;
        }
        &__text {
        }
        &__time {
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 5px;
          background-color: clr(accent, secondary);
        }
        &.own {
          align-self: flex-end;
          text-align: right;
          border: none;
          padding: 0;
          border-right: 1px solid clr(accent);
          padding-right: 4px;
        }
      }
    }
    &-footer {
      border-top: 2px solid clr(accent);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
    }
  }
}
