// .chat {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   &__title {
//     position: sticky;
//     top: 0;
//     background: clr(bg, secondary);
//     font-weight: 200;
//   }
//   &__messages {
//     position: relative;

//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     overflow-y: scroll;
//     .message {
//       background-color: clr(bg);
//       padding: 20px;
//       border-radius: 5px;
//       display: flex;
//       align-items: center;
//       gap: 20px;
//       cursor: pointer;
//       &__span {
//         font-weight: bold;
//       }
//       &__img {
//         @include avatar(40px);
//       }
//       &__p {
//       }
//     }
//   }
//   &__chat-box {
//     flex: 1;
//     background-color: clr(bg);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     &-top {
//       background-color: clr(accent);
//       padding: 10px 20px;
//       font-weight: bold;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       .user {
//         display: flex;
//         align-items: center;
//         gap: 20px;
//         &__img {
//           @include avatar(30px);
//         }
//       }
//       .close {
//         padding: 5px 10px;
//         cursor: pointer;
//       }
//     }
//     &-center {
//       overflow: scroll;
//       height: 350px;
//       padding: 10px 20px;
//       display: flex;
//       flex-direction: column;
//       gap: 20px;
//       .chat-message {
//         width: 50%;
//         border-left: 1px solid clr(accent);
//         padding-left: 4px;
//         &__p {
//         }
//         &__span {
//           font-size: 12px;
//           padding: 2px 4px;
//           border-radius: 5px;
//           background-color: clr(accent, secondary);
//         }
//         &.own {
//           align-self: flex-end;
//           text-align: right;
//           border: none;
//           padding: 0;
//           border-right: 1px solid clr(accent);
//           padding-right: 4px;
//         }
//       }
//     }
//     &-bottom {
//       border-top: 2px solid clr(accent);
//       height: 60px;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       textarea {
//         flex: 3;
//         height: 100%;
//         border: none;
//         padding: 5px 15px;
//       }
//       button {
//         flex: 1;
//         background-color: clr(accent);
//         height: 100%;
//         border: none;
//         cursor: pointer;
//       }
//     }
//   }
// }

.chat {
  display: flex;
  flex-direction: row;
  height: 100%;
  &.container {
    padding-right: 0;
  }
  .list {
    flex: 2;
    overflow-y: scroll;
    height: 100%;
    border-right: 1px solid clr(gray);
    @include sm {
      border: none;
    }
    &-header {
      padding: 5px 10px;
      border-bottom: 1px solid clr(gray);
      position: sticky;
      top: 0;
      background-color: clr(bg);
      &__input {
        border: 1px solid clr(gray);
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: 100%;
      &__text {
        color: clr(gray, secondary);
        text-align: center;
        justify-content: center;
        height: 85%;
        display: flex;
        align-items: center;
      }
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 0 10px;
        position: relative;
        cursor: pointer;
        &__notification {
          position: absolute;
          right: 0;
          bottom: 10px;
          background-color: clr(bg, secondary);
          border-radius: 50%;
        }
        &__img {
          @include avatar(40px);
        }
        &__wrapper {
          flex: 1;
          &__text {
            color: clr(gray, secondary);
          }
        }
        &__date {
          font-size: 12px;
          align-items: flex-start;
          color: clr(gray, secondary);
        }
      }
    }
  }
  .messages {
    flex: 3;
    display: flex;
    flex-direction: column;
    &__text {
      color: clr(gray, secondary);
      text-align: center;
      justify-content: center;
      height: 100%;
      display: flex;
      align-items: center;
    }
    @include sm {
      background-color: clr(bg);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      transition: all 0.4s ease;
      right: -100%;
      z-index: 999;
      &-open {
        right: 0;
      }
    }
    .messages-container {
      padding: 0px 0px 0px 10px;

      @include md {
        padding: 0px;
      }
      &.messages-header {
        padding: 0px 0px 4px 10px;
      }
    }
    &-header {
      border-bottom: 1px solid clr(gray);
      display: flex;
      align-items: center;
      gap: 10px;
      @include sm {
        flex-direction: row-reverse;
        justify-content: space-around;
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
      }
      &__img {
        height: 40px;
        width: auto;
        &.arrow {
          display: none;
          filter: invert(100%);
          cursor: pointer;
          padding: 0 10px;
          @include sm {
            display: initial;
          }
        }
        &.avatar {
          @include avatar(40px);
        }
      }
      &__time {
        color: clr(gray, secondary);
        font-size: 12px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      overflow: scroll;

      .message {
        width: 50%;
        border-left: 1px solid clr(accent);
        padding-left: 4px;
        @include lg {
          width: 75%;
        }
        &__text {
        }
        &__time {
          font-size: 12px;
          padding: 2px 4px;
          border-radius: 5px;
          background-color: clr(accent, secondary);
        }
        &.own {
          align-self: flex-end;
          text-align: right;
          border: none;
          padding: 0;
          border-right: 1px solid clr(accent);
          padding-right: 4px;
        }
      }
    }
    &-footer {
      border-top: 2px solid clr(accent);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 5px 15px;
        resize: none;
      }
      button {
        flex: 1;
        background-color: clr(accent);
        height: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }
}
